{% extends "base.html" %}

{% block content %}
<br><br>
<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Item</th>
      <th class="th-sm">Date</th>
      <th class="th-sm">Price</th>
      <th class="th-sm">Quantity</th>
    </tr>
  </thead>
  <tbody>
    {% for ord_ in report.items %}
      <tr>
        <td>{{ ord_.ordereditem.itemname }}</td>
        <td>{{ ord_.order_date.strftime("%Y-%m-%d") }}</td>
        <td>{{ ord_.ordereditem.price }}</td>
        <td>{{ ord_.quantity }}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>
{% for page_num in report.iter_pages()%}
  {% if page_num %}
    {% if report.page ==  page_num %}
      <a class="btn btn-info mb-4" href="{{ url_for('expense', page=page_num) }}"> {{ page_num }} </a>
    {% else %}
      <a class="btn btn-outline-info mb-4" href="{{ url_for('expense', page=page_num) }}"> {{ page_num }} </a>
    {% endif %}
  {% else %}
  ...
  {% endif %}
{% endfor %} 
{% endblock %}
