{% extends "base.html" %}

{% block content %}
<div class="card fat">
  <div class="card-body">
    <h4 class="card-title">Menu</h4>
    <form method="POST" class="my-login-validation" novalidate="">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.foodoption( class_="custom-select") }}
            <ul>
               {% for error in form.foodoption.errors %}
               <li style="color: red;">
               {{ error }}                        
               </li>
               {% endfor %}
            </ul>
      </div>
      <br>
      <div class="form-group">
         <div class="input-group mb-3">
               <div class="input-group-prepend">
                   <span class="input-group-text" id="basic-addon3">Enter Quantity:</span>
               </div>
               {{ form.quantity(class_="form-control") }}
            <ul>
               {% for error in form.quantity.errors %}
               <li style="color: red;">
               {{ error }}                        
               </li>
               {% endfor %}
            </ul>
         </div>
      </div>
      <br>
      <div class="form-group m-0">
        <p> {{ form.submit(class_= "btn btn-primary mb-2") }} </p>
      </div>
    </form>
  </div>
</div>
{% endblock %}
